<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Ames Housing Data and Kaggle Challenge

# Kaggle Submissions

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms
from scipy import stats

from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
train = pd.read_csv('../datasets/train_preprocessed.csv')

In [3]:
test = pd.read_csv('../datasets/test_preprocessed.csv')

In [4]:
def metrics(model, X_train, y_train, pred, X_test, y_test):
    y_actual = np.exp(y_test)
    y_pred = np.exp(pred)
    print(f'RMSE Score (original units): {mean_squared_error(y_actual, y_pred, squared = False)} \n')
    print(f'Training Score (R^2): {model.score(X_train, y_train)} \n')
    print(f'CrossVal Score: {cross_val_score(model, X_train,y_train,cv = 10).mean()} \n')
    print(f'Testing Score (R^2): {model.score(X_test, y_test)} \n')

In [5]:
X_p = train[['lot_frontage', 'lot_shape', 'overall_qual', 'year_remod/add', 'mas_vnr_area', 'bsmt_qual', 'electrical', 'wood_deck_sf', 
             'open_porch_sf', 'bsmt_exposure', 'bsmtfin_type_1', 'heating_qc', 'kitchen_qual', 'totrms_abvgrd', 'fireplace_qu', 
             'garage_yr_blt', 'garage_finish', 'garage_area', 'garage_qual', 'paved_drive', 'house_age', 'house_area', 
             'location', 'total_bath', 'ms_subclass_30', 'ms_subclass_60', 'ms_zoning_RM', 'mas_vnr_type_None', 
             'foundation_PConc', 'foundation_CBlock', 'central_air_Y', 'garage_type_Attchd', 'garage_type_Detchd', 
             'sale_type_New']]
y_p = train['saleprice']

In [6]:
X_p_train, X_p_test, y_p_train, y_p_test = train_test_split(X_p, y_p, test_size = 0.2, random_state = 42)

In [7]:
# summarize shape
print('Train:', X_p_train.shape, y_p_train.shape)

Train: (1638, 34) (1638,)

In [8]:
lr = LinearRegression()

In [9]:
lr.fit(X_p_train, y_p_train)

LinearRegression()

In [10]:
lr_p_pred = lr.predict(X_p_test)

In [11]:
metrics(lr, X_p_train, y_p_train, lr_p_pred, X_p_test, y_p_test)

RMSE Score (original units): 21861.556889058316

Training Score (R^2): 0.8942374049795403

CrossVal Score: 0.8886551023482003

Testing Score (R^2): 0.8968588049550599

In [12]:
cols = X_p.columns.tolist()

In [13]:
X_kaggle = test[cols]

In [14]:
y_kaggle = lr.predict(X_kaggle)

In [15]:
kaggle = pd.DataFrame()
kaggle['ID'] = test['id']
# Return predicted values to original units
kaggle['SalePrice'] = np.exp(y_kaggle)

In [16]:
kaggle.head(10)

     ID      SalePrice
0  2658  123153.977756
1  2718  170081.408464
2  2414  222776.831202
3  1989   93431.642193
4   625  175758.002709
5   333  105750.421917
6  1327  101293.758702
7   858  158366.043753
8    95  177474.358998
9  1568  162970.537238

In [17]:
kaggle.to_csv('../datasets/kaggle.csv', index = False)