<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

### Importing Libraries

In [22]:
#Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing Datasets

In [23]:
#Import dataset of 2017 ACT participation and score in the different States
act_17 = pd.read_csv('data/act_2017.csv')
#Import dataset of 2018 ACT participation and composite score in the different States
#duplicate data? #act_18[(act_18['Participation'] == '100%')]
act_18 = pd.read_csv('data/act_2018.csv')
#Import dataset of 2019 ACT participation and composite score in the different States
act_19 = pd.read_csv('data/act_2019.csv')

In [24]:
#Import dataset of 2017 SAT participation and score in the different States
sat_17 = pd.read_csv('data/sat_2017.csv')
#Import dataset of 2018 SAT participation and score in the different States
sat_18 = pd.read_csv('data/sat_2018.csv')
#Import dataset of 2019 SAT participation and score in the different States
sat_19 = pd.read_csv('data/sat_2019.csv')

In [25]:
act_17.describe()
#min score of Science is exceptionally low as compared to other scores.

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

In [26]:
#To check if State column values are unique
act_17['State'].describe()

count           52
unique          52
top       National
freq             1
Name: State, dtype: object

In [27]:
#Selects row where science score is 2.3 (which is the min shown)
act_17[act_17['Science'] == 2.3]
#shows that Maryland Science score in the dataset is 2.3
#Reference: https://nces.ed.gov/programs/digest/d18/tables/dt18_226.60.asp, Maryland Science score is 22.2, not 2.3

       State Participation  English  Math  Reading  Science Composite
21  Maryland           28%     23.3  23.1     24.2      2.3      23.6

In [28]:
#update Maryland Science score to 22.2
#act_17.loc[21, 'Science'] = 22.2
act_17.loc[(act_17.State == 'Maryland'), 'Science'] = 22.2

In [29]:
act_17.info()
#act_17.info() and act_17['Composite'].dtype shows that Composite is an object, and not a float
#act_17.Composite.sort_values(ascending = True)

act_17.loc[(act_17.Composite == '20.2x'), 'Composite'] = 20.2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [30]:
#Changing Composite column dtype to float
#act_17.Composite.map(lambda composite: float(composite))
act_17 = act_17.astype({"Composite": float})

In [31]:
#Convert Participation from % to float
act_17['Participation'] = act_17['Participation'].str.rstrip('%').astype('float') / 100.0

In [14]:
act_17.info()
act_17

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

,State,Participation,English,Math,Reading,Science,Composite
0,National,0.60,20.3,20.7,21.4,21.0,21.0
1,Alabama,1.00,18.9,18.4,19.7,19.4,19.2
2,Alaska,0.65,18.7,19.8,20.4,19.9,19.8
3,Arizona,0.62,18.6,19.8,20.1,19.8,19.7
4,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4
5,California,0.31,22.5,22.7,23.1,22.2,22.8
6,Colorado,1.00,20.1,20.3,21.2,20.9,20.8
7,Connecticut,0.31,25.5,24.6,25.6,24.6,25.2
8,Delaware,0.18,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,0.32,24.4,23.5,24.9,23.5,24.2
10,Florida,0.73,19.0,19.4,21.0,19.4,19.8
11,Georgia,0.55,21.0,20.9,22.0,21.3,21.4
12,Hawaii,0.90,17.8,19.2,19.2,19.3,19.0
13,Idaho,0.38,21.9,21.8,23.0,22.1,22.3
14,Illinois,0.93,21.0,21.2,21.6,21.3,21.4
15,Indiana,0.35,22.0,22.4,23.2,22.3,22.6
16,Iowa,0.67,21.2,21.3,22.6,22.1,21.9
17,Kansas,0.73,21.1,21.3,22.3,21.7,21.7
18,Kentucky,1.00,19.6,19.4,20.5,20.1,20.0
19,Louisiana,1.00,19.4,18.8,19.8,19.6,19.5
20,Maine,0.08,24.2,24.0,24.8,23.7,24.3
21,Maryland,0.28,23.3,23.1,24.2,22.2,23.6
22,Massachusetts,0.29,25.4,25.3,25.9,24.7,25.4
23,Michigan,0.29,24.1,23.7,24.5,23.8,24.1
24,Minnesota,1.00,20.4,21.5,21.8,21.6,21.5
25,Mississippi,1.00,18.2,18.1,18.8,18.8,18.6
26,Missouri,1.00,19.8,19.9,20.8,20.5,20.4
27,Montana,1.00,19.0,20.2,21.0,20.5,20.3
28,Nebraska,0.84,20.9,20.9,21.9,21.5,21.4
29,Nevada,1.00,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,0.18,25.4,25.1,26.0,24.9,25.5
31,New Jersey,0.34,23.8,23.8,24.1,23.2,23.9
32,New Mexico,0.66,18.6,19.4,20.4,20.0,19.7
33,New York,0.31,23.8,24.0,24.6,23.9,24.2
34,North Carolina,1.00,17.8,19.3,19.6,19.3,19.1
35,North Dakota,0.98,19.0,20.4,20.5,20.6,20.3
36,Ohio,0.75,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,1.00,18.5,18.8,20.1,19.6,19.4
38,Oregon,0.40,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,0.23,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,0.21,24.0,23.3,24.7,23.4,24.0
41,South Carolina,1.00,17.5,18.6,19.1,18.9,18.7
42,South Dakota,0.80,20.7,21.5,22.3,22.0,21.8
43,Tennessee,1.00,19.5,19.2,20.1,19.9,19.8
44,Texas,0.45,19.5,20.7,21.1,20.9,20.7
45,Utah,1.00,19.5,19.9,20.8,20.6,20.3
46,Vermont,0.29,23.3,23.1,24.4,23.2,23.6
47,Virginia,0.29,23.5,23.3,24.6,23.5,23.8
48,Washington,0.29,20.9,21.9,22.1,22.0,21.9
49,West Virginia,0.69,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,1.00,19.7,20.4,20.6,20.9,20.5
51,Wyoming,1.00,19.4,19.8,20.8,20.6,20.2

In [32]:
participation_17 = "%.2f" % round(act_17.loc[0, 'Participation'], 2)
composite_17 = "%.1f" % round(act_17.loc[0, 'Composite'], 1)

In [45]:
#national_act_17 = pd.DataFrame({'State': ['National'], 'Participation_17': [0.60], 'Composite_17':[21.0]})
national_act = pd.DataFrame({'State': ['National'], 'Participation_17': [participation_17], 'Composite_17':[composite_17]})
national_act

      State Participation_17 Composite_17
0  National             0.60         21.0

In [34]:
#The ACT 2017 dataframe contains a row with national participation rate and averages. This will not be used, and can be removed.
act_17.drop(0, inplace = True)

#Reset index after national row is removed
act_17.reset_index(drop = True, inplace = True)

In [16]:
act_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   English        51 non-null     float64
 3   Math           51 non-null     float64
 4   Reading        51 non-null     float64
 5   Science        51 non-null     float64
 6   Composite      51 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.9+ KB

Changes made to act_2017 datase:
1. Updated Science Score for Maryland to the correct data
2. Changed Composite score from 20.2x to 20.2
3. Changed Composite datatype from Object to float
4. Removed 'National' row of data 
5. Changed Participation percentages into float

In [35]:
act_18.info()
act_18.describe()
#Value_counts shows that State "Maine" is not unique and it has a duplicated row
act_18.value_counts() 
act_18

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

                   State Participation  Composite
0                Alabama          100%       19.1
1                 Alaska           33%       20.8
2                Arizona           66%       19.2
3               Arkansas          100%       19.4
4             California           27%       22.7
5               Colorado           30%       23.9
6            Connecticut           26%       25.6
7               Delaware           17%       23.8
8   District of columbia           32%       23.6
9                Florida           66%       19.9
10               Georgia           53%       21.4
11                Hawaii           89%       18.9
12                 Idaho           36%       22.3
13              Illinois           43%       23.9
14               Indiana           32%       22.5
15                  Iowa           68%       21.8
16                Kansas           71%       21.6
17              Kentucky          100%       20.2
18             Louisiana          100%       19.2
19                 Maine            7%       24.0
20                 Maine            7%       24.0
21              Maryland           31%       22.5
22         Massachusetts           25%       25.5
23              Michigan           22%       24.2
24             Minnesota           99%       21.3
25           Mississippi          100%       18.6
26              Missouri          100%       20.0
27               Montana          100%       20.0
28              Nebraska          100%       20.1
29                Nevada          100%       17.7
30         New Hampshire           16%       25.1
31            New Jersey           31%       23.7
32            New Mexico           67%       19.4
33              New York           27%       24.5
34        North Carolina          100%       19.1
35          North Dakota           98%       20.3
36                  Ohio          100%       20.3
37              Oklahoma          100%       19.3
38                Oregon           42%       21.3
39          Pennsylvania           20%       23.5
40          Rhode Island           15%       24.2
41        South Carolina          100%       18.3
42          South Dakota           77%       21.9
43             Tennessee          100%       19.6
44                 Texas           45%       20.7
45                  Utah          100%       20.4
46               Vermont           24%       24.1
47              Virginia           24%       23.9
48            Washington           24%       22.2
49         West Virginia           65%       20.3
50             Wisconsin          100%       20.5
51               Wyoming          100%       20.0

In [36]:
#Considers first value as unique and drop the rest of the same values
act_18.drop_duplicates(keep = 'first', inplace = True)
act_18.reset_index(drop = True, inplace = True)
act_18

                   State Participation  Composite
0                Alabama          100%       19.1
1                 Alaska           33%       20.8
2                Arizona           66%       19.2
3               Arkansas          100%       19.4
4             California           27%       22.7
5               Colorado           30%       23.9
6            Connecticut           26%       25.6
7               Delaware           17%       23.8
8   District of columbia           32%       23.6
9                Florida           66%       19.9
10               Georgia           53%       21.4
11                Hawaii           89%       18.9
12                 Idaho           36%       22.3
13              Illinois           43%       23.9
14               Indiana           32%       22.5
15                  Iowa           68%       21.8
16                Kansas           71%       21.6
17              Kentucky          100%       20.2
18             Louisiana          100%       19.2
19                 Maine            7%       24.0
20              Maryland           31%       22.5
21         Massachusetts           25%       25.5
22              Michigan           22%       24.2
23             Minnesota           99%       21.3
24           Mississippi          100%       18.6
25              Missouri          100%       20.0
26               Montana          100%       20.0
27              Nebraska          100%       20.1
28                Nevada          100%       17.7
29         New Hampshire           16%       25.1
30            New Jersey           31%       23.7
31            New Mexico           67%       19.4
32              New York           27%       24.5
33        North Carolina          100%       19.1
34          North Dakota           98%       20.3
35                  Ohio          100%       20.3
36              Oklahoma          100%       19.3
37                Oregon           42%       21.3
38          Pennsylvania           20%       23.5
39          Rhode Island           15%       24.2
40        South Carolina          100%       18.3
41          South Dakota           77%       21.9
42             Tennessee          100%       19.6
43                 Texas           45%       20.7
44                  Utah          100%       20.4
45               Vermont           24%       24.1
46              Virginia           24%       23.9
47            Washington           24%       22.2
48         West Virginia           65%       20.3
49             Wisconsin          100%       20.5
50               Wyoming          100%       20.0

In [43]:
#Replace 'District of columbia' with 'District of Columbia' to match the names in other datasets
act_18.loc[8, 'State'] = 'District of Columbia'

In [44]:
act_18

                   State  Participation  Composite
0                Alabama           1.00       19.1
1                 Alaska           0.33       20.8
2                Arizona           0.66       19.2
3               Arkansas           1.00       19.4
4             California           0.27       22.7
5               Colorado           0.30       23.9
6            Connecticut           0.26       25.6
7               Delaware           0.17       23.8
8   District of Columbia           0.32       23.6
9                Florida           0.66       19.9
10               Georgia           0.53       21.4
11                Hawaii           0.89       18.9
12                 Idaho           0.36       22.3
13              Illinois           0.43       23.9
14               Indiana           0.32       22.5
15                  Iowa           0.68       21.8
16                Kansas           0.71       21.6
17              Kentucky           1.00       20.2
18             Louisiana           1.00       19.2
19                 Maine           0.07       24.0
20              Maryland           0.31       22.5
21         Massachusetts           0.25       25.5
22              Michigan           0.22       24.2
23             Minnesota           0.99       21.3
24           Mississippi           1.00       18.6
25              Missouri           1.00       20.0
26               Montana           1.00       20.0
27              Nebraska           1.00       20.1
28                Nevada           1.00       17.7
29         New Hampshire           0.16       25.1
30            New Jersey           0.31       23.7
31            New Mexico           0.67       19.4
32              New York           0.27       24.5
33        North Carolina           1.00       19.1
34          North Dakota           0.98       20.3
35                  Ohio           1.00       20.3
36              Oklahoma           1.00       19.3
37                Oregon           0.42       21.3
38          Pennsylvania           0.20       23.5
39          Rhode Island           0.15       24.2
40        South Carolina           1.00       18.3
41          South Dakota           0.77       21.9
42             Tennessee           1.00       19.6
43                 Texas           0.45       20.7
44                  Utah           1.00       20.4
45               Vermont           0.24       24.1
46              Virginia           0.24       23.9
47            Washington           0.24       22.2
48         West Virginia           0.65       20.3
49             Wisconsin           1.00       20.5
50               Wyoming           1.00       20.0

In [37]:
#Converts Participation from % to float
act_18['Participation'] = act_18['Participation'].str.rstrip('%').astype('float') / 100.0

In [46]:
#National participation rates is not inside the dataset
#National participation rate in 2018 for ACT is 55% and composite score was 20.8  source: https://www.act.org/content/dam/act/unsecured/documents/cccr2018/National-CCCR-2018.pdf
#national_act= pd.DataFrame({'State': ['National'], 'Participation_17': [participation_17], 'Composite_17':[composite_17]})
national_act['Participation_18'] = "%.2f" % 0.55
national_act['Composite_18'] = "%.1f" % 20.8
national_act

      State Participation_17 Composite_17 Participation_18 Composite_18
0  National             0.60         21.0             0.55         20.8

In [ ]:
act_18.head()

Changes made to act_2018 datase:
1. Removed duplicated row of data with State as "Maine" and reset index
2. Changed Participation percentages into float
3. Replace District of columbia with "District of Columbia

Others: 
1. Added 2018 National participation rate and Composite to national_act dataframe

In [40]:
act_19.info()
act_19.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

State                 Participation  Composite
Alabama               100%           18.9         1
Alaska                38%            20.1         1
Nebraska              100%           20.0         1
Nevada                100%           17.9         1
New Hampshire         14%            25.0         1
New Jersey            25%            24.2         1
New Mexico            63%            19.3         1
New York              22%            24.5         1
North Carolina        100%           19.0         1
North Dakota          96%            19.9         1
Ohio                  100%           20.0         1
Oklahoma              100%           18.9         1
Oregon                42%            21.1         1
Pennsylvania          17%            23.6         1
Rhode Island          12%            24.7         1
South Carolina        78%            18.8         1
South Dakota          75%            21.6         1
Tennessee             100%           19.4         1
Texas                 39%            20.5         1
Utah                  100%           20.3         1
Vermont               20%            24.1         1
Virginia              21%            24.0         1
Washington            24%            22.1         1
West Virginia         49%            20.8         1
Wisconsin             100%           20.3         1
National              52%            20.7         1
Montana               100%           19.8         1
Missouri              82%            20.8         1
Idaho                 31%            22.5         1
Arizona               73%            19.0         1
Arkansas              100%           19.3         1
California            23%            22.6         1
Colorado              27%            23.8         1
Connecticut           22%            25.5         1
Delaware              13%            24.1         1
District of Columbia  32%            23.5         1
Florida               54%            20.1         1
Georgia               49%            21.4         1
Hawaii                80%            19.0         1
Illinois              35%            24.3         1
Mississippi           100%           18.4         1
Indiana               29%            22.5         1
Iowa                  66%            21.6         1
Kansas                72%            21.2         1
Kentucky              100%           19.8         1
Louisiana             100%           18.8         1
Maine                 6%             24.3         1
Maryland              28%            22.3         1
Massachusetts         21%            25.5         1
Michigan              19%            24.4         1
Minnesota             95%            21.4         1
Wyoming               100%           19.8         1
dtype: int64

In [ ]:
national_act['Participation_19'] = "%.2f" % 0.55
national_act['Composite_19'] = "%.1f" % 20.8
national_act

In [ ]:
Changes made to act_2018 datase:
1. Removed duplicated row of data with State as "Maine" and reset index
2. Changed Participation percentages into float
3. Replace District of columbia with "District of Columbia

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [ ]:
# Code:

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [ ]:
# Code:

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [ ]:
# Code:

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [ ]:
# Imports:

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [ ]:
# Code:

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!