<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

## Problem Statement

In 2019, 64% of graduating students participated in the SAT test ([*source*](https://reports.collegeboard.org/archive/sat-suite-program-results/2019/class-2019-results)), surpassing ACT's 52% participation rate ([*source*](https://www.act.org/content/dam/act/unsecured/documents/National-CCCR-2019.pdf)). 

In order to remain as the leading provider of college entrace test, The College Board seeks to explore trends in SAT and ACT participation rates in 2017-2019 to identify the reasons for the increase in SAT participation rates since 2017, and recommend strategies on how SAT's popularity and participation rate can be futher increased.

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university. Supporters of these standardized tests believe that they provide colleges with a broad yardstick to compare applicants across different states and background.
 
The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Until 2012, the SATâ€™s popularity exceeded that of the ACT. However, since then, ACT overtook SAT as the top college exam ([*source*](https://www.washingtonpost.com/blogs/answer-sheet/post/how-act-overtook-sat-as-the-top-college-entrance-exam/2012/09/24/d56df11c-0674-11e2-afff-d6c7f20a83bf_blog.html)). This sparked the College Board to revamp the SAT admission test in March 2016, in an attempt to counter the growing popularity of the ACT.

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

##### Datasets used for the analysis

A total of 6 datasets will be used:

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State


##### 2017 ACT Scores by State
Dataset contains a total of 7 columns:
- State: One of the States in United States of America
- Participation: Participation rate shown in % in a given State
- English: Aggregate English score in the given State
- Math: Agrregate Math score in the given State
- Reading: Aggregate Reading score in the given State
- Science: Aggregate Science score in the given State
- Composite: Aggregate Composite score: Score is based on an average of English, Math, Reading and Science scores in a given State. ((English + Math + Reading + Science)/4). (Rounded to the nearest whole number)

##### 2018 ACT Scores by State &  2019 ACT Scores by State
Unlike 2017 ACT dataset which contains 7 columns, 2018 and 2019 ACT dataset only contain a total of 3 columns:
- State: One of the States in United States of America
- Participation: Participation rate shown in % in a given State
- Composite: Aggregate Composite score: Score is based on an average of English, Math, Reading and Science scores in a given State. ((English + Math + Reading + Science)/4). (Rounded to the nearest whole number)

State,Participation,Evidence-Based Reading and Writing,Math,Total
##### 2017 SAT Scores by State & 2018 SAT Scores by State
Dataset contains a total of 5 columns:
- State: One of the States in United States of America
- Participation: Participation rate shown in % in a given State
- Evidence-Based Reading and Writing: (EBRW) Aggregate total score of the Reading Test and the Writing and Language Test in a given State
- Math: Aggregate Math score in the given State
- Total: Aggregate total score EBRW and Math score of participating students in a given State (EBRW + Math)

##### 2019 SAT Scores by State 
Dataset contains a total of 5 columns:
- State: One of the States in United States of America
- Participation: Participation rate shown in % in a given State
- EBRW: Aggregate total score of the Reading Test and the Writing and Language Test in a given State
- Math: Aggregate Math score in the given State
- Total: Aggregate total score EBRW and Math score of participating students in a given State (EBRW + Math)

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Code:
def cal_mean(num_list):
    sum = 0
    for i in num_list:
        sum += i
    return (sum/len(num_list))

print(cal_mean([5,7,3,16]))

7.75

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code:
def std_dev(num_list):
    n = len(num_list)
    mean = cal_mean(num_list)
    var = sum((x - mean)**2 for x in num_list) / n
    std_dev = var ** 0.5
    return std_dev

# create a list of data points
num_list = [8, 10, 5, 7, 9]
std_dev(num_list)

1.7204650534085253

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
# Code:
def string_percent_to_float(string_percent):
    return round(float(string_percent.strip('%'))/100, 2)

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [4]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

### Data Import & Cleaning: ACT 2017

In [5]:
# Code:
#Import dataset of 2017 ACT participation and score in the different States
act_17 = pd.read_csv('../data/act_2017.csv')

In [6]:
#Display the first 5 rows of data
act_17.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [7]:
#act_17.describe() shows that min score of Science is exceptionally low as compared to other scores. 
act_17.describe()

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

In [8]:
#Selects row where science score is 2.3 (which is the min shown)
act_17[act_17['Science'] == 2.3]
#shows that Maryland Science score in the dataset is 2.3

#Reference: https://nces.ed.gov/programs/digest/d18/tables/dt18_226.60.asp, Maryland Science score is 22.2, not 2.3
#update Maryland Science score to the correct score: 22.2
#act_17.loc[21, 'Science'] = 22.2
act_17.loc[(act_17.State == 'Maryland'), 'Science'] = 22.2

In [9]:
#Display the data types of each feature
act_17.info()
#act_17.info() and act_17['Composite'].dtype shows that Composite is an object, and not a float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [10]:
act_17

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2
10,Florida,73%,19.0,19.4,21.0,19.4,19.8
11,Georgia,55%,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90%,17.8,19.2,19.2,19.3,19.0
13,Idaho,38%,21.9,21.8,23.0,22.1,22.3
14,Illinois,93%,21.0,21.2,21.6,21.3,21.4
15,Indiana,35%,22.0,22.4,23.2,22.3,22.6
16,Iowa,67%,21.2,21.3,22.6,22.1,21.9
17,Kansas,73%,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100%,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100%,19.4,18.8,19.8,19.6,19.5
20,Maine,8%,24.2,24.0,24.8,23.7,24.3
21,Maryland,28%,23.3,23.1,24.2,22.2,23.6
22,Massachusetts,29%,25.4,25.3,25.9,24.7,25.4
23,Michigan,29%,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100%,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100%,18.2,18.1,18.8,18.8,18.6
26,Missouri,100%,19.8,19.9,20.8,20.5,20.4
27,Montana,100%,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84%,20.9,20.9,21.9,21.5,21.4
29,Nevada,100%,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18%,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34%,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66%,18.6,19.4,20.4,20.0,19.7
33,New York,31%,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100%,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98%,19.0,20.4,20.5,20.6,20.3
36,Ohio,75%,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100%,18.5,18.8,20.1,19.6,19.4
38,Oregon,40%,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23%,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21%,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100%,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80%,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100%,19.5,19.2,20.1,19.9,19.8
44,Texas,45%,19.5,20.7,21.1,20.9,20.7
45,Utah,100%,19.5,19.9,20.8,20.6,20.3
46,Vermont,29%,23.3,23.1,24.4,23.2,23.6
47,Virginia,29%,23.5,23.3,24.6,23.5,23.8
48,Washington,29%,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69%,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100%,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2x

In [11]:
#One of the data in Composite column is wrong (20.2x). Replace it with the right data
act_17.loc[(act_17.Composite == '20.2x'), 'Composite'] = 20.2

In [12]:
#Changing Composite column dtype to float
#act_17.Composite.map(lambda composite: float(composite))
act_17 = act_17.astype({"Composite": float})

In [13]:
#Convert Participation from % to float using created function
act_17['Participation'] = act_17['Participation'].apply(lambda x: string_percent_to_float(x))

In [14]:
act_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     float64
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     float64
dtypes: float64(6), object(1)
memory usage: 3.0+ KB

In [15]:
#The ACT 2017 dataframe contains a row with national participation rate and averages. Drop data column as it is unnecessary in the analysis
act_17.drop(0, inplace = True)

#Reset index after national row is removed
act_17.reset_index(drop = True, inplace = True)

In [16]:
#Remove scores of English, Math, Reading and Science as only Composite scores will be used for the analysis
act_17.drop(['English', 'Math', 'Reading', 'Science'], axis = 1, inplace = True)

In [17]:
#Renaming columns
act_17.rename(columns={'Participation':'Participation_act17', 'Composite':'Composite_act17'}, inplace = True)

##### Changes made to act_17 datase:

- Replaced Maryland's wrong composit score of 2.3 to 22.2 
- Replace wrongly entered 20.2x in the composit score column to 20.2
- Changed Composite column dtype to float
- Changed Participation percentages dtype to float
- Drop data English, Math, Reading and Science columns from the act_17 dataframe
- Rename participation and composite columns to reflect that these data is related ACT 2017

### Data Import & Cleaning: ACT 2018

In [18]:
#Import dataset of 2018 ACT participation and composite score in the different States
act_18 = pd.read_csv('../data/act_2018.csv')

In [19]:
#Display the first 5 rows of data
act_18.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [20]:
#act_18.describe() shows that min score of Science is exceptionally low as compared to other scores. 
act_18.describe()

       Composite
count  52.000000
mean   21.544231
std     2.119417
min    17.700000
25%    19.975000
50%    21.300000
75%    23.725000
max    25.600000

In [21]:
#Shows the dtype of each column 
act_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [22]:
#Value_counts shows that State "Maine" is not unique and it has a duplicated row
act_18.value_counts()

State                 Participation  Composite
Maine                 7%             24.0         2
Alabama               100%           19.1         1
Montana               100%           20.0         1
Nevada                100%           17.7         1
New Hampshire         16%            25.1         1
New Jersey            31%            23.7         1
New Mexico            67%            19.4         1
New York              27%            24.5         1
North Carolina        100%           19.1         1
North Dakota          98%            20.3         1
Ohio                  100%           20.3         1
Oklahoma              100%           19.3         1
Oregon                42%            21.3         1
Pennsylvania          20%            23.5         1
Rhode Island          15%            24.2         1
South Carolina        100%           18.3         1
South Dakota          77%            21.9         1
Tennessee             100%           19.6         1
Texas                 45%            20.7         1
Utah                  100%           20.4         1
Vermont               24%            24.1         1
Virginia              24%            23.9         1
Washington            24%            22.2         1
West Virginia         65%            20.3         1
Wisconsin             100%           20.5         1
Nebraska              100%           20.1         1
Missouri              100%           20.0         1
Alaska                33%            20.8         1
Mississippi           100%           18.6         1
Arizona               66%            19.2         1
Arkansas              100%           19.4         1
California            27%            22.7         1
Colorado              30%            23.9         1
Connecticut           26%            25.6         1
Delaware              17%            23.8         1
District of columbia  32%            23.6         1
Florida               66%            19.9         1
Georgia               53%            21.4         1
Hawaii                89%            18.9         1
Idaho                 36%            22.3         1
Illinois              43%            23.9         1
Indiana               32%            22.5         1
Iowa                  68%            21.8         1
Kansas                71%            21.6         1
Kentucky              100%           20.2         1
Louisiana             100%           19.2         1
Maryland              31%            22.5         1
Massachusetts         25%            25.5         1
Michigan              22%            24.2         1
Minnesota             99%            21.3         1
Wyoming               100%           20.0         1
dtype: int64

In [23]:
#Remove duplicated row. Considers first value as unique and drop the rest of the same values
act_18.drop_duplicates(keep = 'first', inplace = True)
act_18.reset_index(drop = True, inplace = True)

In [24]:
#Replace 'District of columbia' with 'District of Columbia' to match the names in other datasets
act_18.loc[8, 'State'] = 'District of Columbia'

In [25]:
#Convert Participation from % to float using created string_percent_to_float(string_percent) function
act_18['Participation'] = act_18['Participation'].apply(lambda x: string_percent_to_float(x))

In [26]:
#Renaming columns
act_18.rename(columns={'Participation':'Participation_act18', 'Composite':'Composite_act18'}, inplace = True)

##### Changes made to act_2018 datase:
- Removed duplicated row of data with State as "Maine" and reset index
- Changed Participation percentages dtype to float
- Replace 'District of columbia' with 'District of Columbia' for dataframe merging purposes
- Drop row of data with State 'National' as this data will not be used in the analysis
- Rename participation and composite columns to reflect that these data is related ACT 2018

### Data Import & Cleaning: ACT 2019

In [27]:
#Import dataset of 2018 ACT participation and composite score in the different States
act_19 = pd.read_csv('../data/act_2019.csv')

In [28]:
#Display the first 5 rows of data
act_19.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [29]:
#describe() shows that min score of Science is exceptionally low as compared to other scores. 
act_19.describe()

       Composite
count  52.000000
mean   21.450000
std     2.175487
min    17.900000
25%    19.800000
50%    20.950000
75%    23.650000
max    25.500000

In [30]:
#Shows dtype of columns
act_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [31]:
#Convert Participation from % to float using created string_percent_to_float(string_percent) function
act_19['Participation'] = act_19['Participation'].apply(lambda x: string_percent_to_float(x))

In [32]:
#The ACT 2019 dataframe contains a row with national participation rate and averages. This will not be used, and can be removed.
act_19.drop(51, inplace = True)

#Reset index after national row is removed
act_19.reset_index(drop = True, inplace = True)

In [33]:
act_19

                   State  Participation  Composite
0                Alabama           1.00       18.9
1                 Alaska           0.38       20.1
2                Arizona           0.73       19.0
3               Arkansas           1.00       19.3
4             California           0.23       22.6
5               Colorado           0.27       23.8
6            Connecticut           0.22       25.5
7               Delaware           0.13       24.1
8   District of Columbia           0.32       23.5
9                Florida           0.54       20.1
10               Georgia           0.49       21.4
11                Hawaii           0.80       19.0
12                 Idaho           0.31       22.5
13              Illinois           0.35       24.3
14               Indiana           0.29       22.5
15                  Iowa           0.66       21.6
16                Kansas           0.72       21.2
17              Kentucky           1.00       19.8
18             Louisiana           1.00       18.8
19                 Maine           0.06       24.3
20              Maryland           0.28       22.3
21         Massachusetts           0.21       25.5
22              Michigan           0.19       24.4
23             Minnesota           0.95       21.4
24           Mississippi           1.00       18.4
25              Missouri           0.82       20.8
26               Montana           1.00       19.8
27              Nebraska           1.00       20.0
28                Nevada           1.00       17.9
29         New Hampshire           0.14       25.0
30            New Jersey           0.25       24.2
31            New Mexico           0.63       19.3
32              New York           0.22       24.5
33        North Carolina           1.00       19.0
34          North Dakota           0.96       19.9
35                  Ohio           1.00       20.0
36              Oklahoma           1.00       18.9
37                Oregon           0.42       21.1
38          Pennsylvania           0.17       23.6
39          Rhode Island           0.12       24.7
40        South Carolina           0.78       18.8
41          South Dakota           0.75       21.6
42             Tennessee           1.00       19.4
43                 Texas           0.39       20.5
44                  Utah           1.00       20.3
45               Vermont           0.20       24.1
46              Virginia           0.21       24.0
47            Washington           0.24       22.1
48         West Virginia           0.49       20.8
49             Wisconsin           1.00       20.3
50               Wyoming           1.00       19.8

In [ ]:
#Renaming columns
act_19.rename(columns={'Participation':'Participation_act19', 'Composite':'Composite_act19'}, inplace = True)

##### Changes made to act_2019 datase:
- Changed Participation percentage to float dtype
- Removed row with State 'National' as this data will not be used in the analysis
- Rename participation and composite columns to reflect that these data is related ACT 2019

### Data Import & Cleaning: SAT 2017

In [ ]:
#Import dataset of 2017 ACT participation and score in the different States
sat_17 = pd.read_csv('../data/sat_2017.csv')

In [ ]:
sat_17.head()

In [ ]:
sat_17.describe()

In [ ]:
sat_17.info()

In [ ]:
#Remove scores Reading and wrting, and math as only total scores will be used for the analysis
sat_17.drop(['Evidence-Based Reading and Writing', 'Math'], axis = 1, inplace = True)

In [ ]:
#Convert Participation from % to float using created string_percent_to_float(string_percent) function
sat_17['Participation'] = sat_17['Participation'].apply(lambda x: string_percent_to_float(x))

In [ ]:
sat_17.rename(columns={'Participation':'Participation_sat17', 'Total':'Total_sat17'}, inplace = True)

Changes made to sat_2017 datase:
- Removed Evidence-Based Reading and Writing and Maths columns as data will not be used in the analysis
- Changed Participation percentage to dtype float
- Rename participation and total score columns to reflect that these data is related SAT 2017

### Data Import & Cleaning: SAT 2018

In [ ]:
#Import dataset of 2018 SAT participation and score in the different States
sat_18 = pd.read_csv('../data/sat_2018.csv')

In [ ]:
sat_18.head()

In [ ]:
sat_18.describe()

In [ ]:
sat_18.info()

In [ ]:
#Remove scores Reading and wrting, and math as only total scores will be used for the analysis
sat_18.drop(['Evidence-Based Reading and Writing', 'Math'], axis = 1, inplace = True)

In [ ]:
#Convert Participation from % to float using created string_percent_to_float(string_percent) function
sat_18['Participation'] = sat_18['Participation'].apply(lambda x: string_percent_to_float(x))

In [ ]:
sat_18.rename(columns={'Participation':'Participation_sat18', 'Total':'Total_sat18'}, inplace = True)

Changes made to sat_2018 datase:
- Removed Evidence-Based Reading and Writing and Maths columnsas these data will not be used in the analysis
- Changed Participation percentage dtype to float
- Rename participation and total score columns to reflect that these data is related SAT 2018

### Data Import & Cleaning: SAT 2019

In [ ]:
#Import dataset of 2019 SAT participation and score in the different States
sat_19 = pd.read_csv('../data/sat_2019.csv')

In [ ]:
sat_19.head()

In [ ]:
sat_19.describe()

In [ ]:
sat_19.info()
#more rows of data than other tables

In [ ]:
sat_19

In [ ]:
#Remove scores Reading and wrting, and math as only total scores will be used for the analysis
sat_19.drop(['EBRW', 'Math'], axis = 1, inplace = True)

In [ ]:
#Drop Puerto Rico and Virgin Islands from SAT 2019 as they are not a State in United States and other datasets did not include these 2 rows of data
sat_19.drop([39, 47], inplace = True)

#Reset index after national row is removed
sat_19.reset_index(drop = True, inplace = True)

In [ ]:
#Converts Participation from % to float
sat_19['Participation Rate'] = sat_19['Participation Rate'].apply(lambda x: string_percent_to_float(x))

In [ ]:
#Rename columns
sat_19.rename(columns={'Participation Rate':'Participation_sat19', 'Total':'Total_sat19'}, inplace = True)

Changes made to sat_19 dataframe:
- Removed EBRW and Writing and Maths columns as these data will not be used in the analysis
- Removed Puerto Rico and Virgin Islands as they are not State of USA and this is the only data set that contains these 2 rows of data
- Changed Participation percentage to dtype float
- Rename participation and total score columns to reflect that these data is related SAT 2019

### Merging Data

In [ ]:
combined_df = pd.merge(left = act_17,
                     right = act_18,
                     how = "right",
                     on = 'State')

combined_df = pd.merge(left = combined_df,
                     right = act_19,
                     how = "right",
                     on = 'State')

combined_df = pd.merge(left = combined_df,
                     right = sat_17,
                     how = "right",
                     on = 'State')

combined_df = pd.merge(left = combined_df,
                     right = sat_18,
                     how = "right",
                     on = 'State')

combined_df = pd.merge(left = combined_df,
                     right = sat_19,
                     how = "right",
                     on = 'State')

In [ ]:
combined_df.to_csv('../data/combined_df.csv', index = False)

### Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|State|<i>object</i>|combined_df|A state in United States of America| 
|Participation_act17|<i>float</i>|combined_df|Participation rate of ACT in 2017| 
|Composite_act17|<i>float</i>|combined_df|Aggregate composite score of participants, based on the average of English, Math, Reading and Science scores of ACT in 2017| 
|Participation_act18|<i>float</i>|combined_df|Participation rate of ACT in 2018| 
|Composite_act18|<i>float</i>|combined_df|Aggregate composite score of participants, based on the average of English, Math, Reading and Science scores of ACT in 2018| 
|Participation_act19|<i>float</i>|combined_df|Participation rate of ACT in 2019| 
|Composite_act19|<i>float</i>|combined_df|Aggregate composite score of participants, based on the average of English, Math, Reading and Science scores of ACT in 2019| 
|Participation_sat17|<i>float</i>|combined_df|Participation rate of SAT in 2017| 
|Composite_sat17|<i>float</i>|combined_df|Aggregate total score of participants, based on total score of Evidenced Based Reading and Writing (EBRW) component and Math of SAT in 2017| 
|Participation_sat18|<i>float</i>|combined_df|Participation rate of SAT in 2018| 
|Composite_sat18|<i>float</i>|combined_df|Aggregate total score of participants, based on total score of Evidenced Based Reading and Writing (EBRW) component and Math of SAT in 2018| 
|Participation_sat19|<i>float</i>|combined_df|Participation rate of SAT in 2019| 
|Composite_sat19|<i>float</i>|combined_df|Aggregate total score of participants, based on total score of Evidenced Based Reading and Writing (EBRW) component and Math of SAT in 2019|
|State|<i>object</i>|change_in_par|A state in United States of America| 
|Participation_sat17|<i>float</i>|change_in_par|Participation rate of SAT in 2017| 
|Participation_sat18|<i>float</i>|change_in_par|Participation rate of SAT in 2018| 
|Participation_sat19|<i>float</i>|change_in_par|Participation rate of SAT in 2019| 
|Participation_act17|<i>float</i>|change_in_par|Participation rate of ACT in 2017| 
|Participation_act18|<i>float</i>|change_in_par|Participation rate of ACT in 2018| 
|Participation_act19|<i>float</i>|change_in_par|Participation rate of ACT in 2019|
|Par_change_sat17to19|<i>float</i>|change_in_par|Change in participation rate in SAT from 2017 to 2019| 
|Par_change_act17to19|<i>float</i>|change_in_par|Change in participation rate in ACT from 2017 to 2019|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

### Summary Statistics

Transpose the output of pandas describe method for the summary statistics of numeric features

In [ ]:
summary_stats = combined_df.describe()
summary_stats.T

### Dictionary Comprehension

Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:
# taking out the 'state' column
std_df = combined_df[combined_df.columns[1:12]]

#Dictionary comprehension to apply the standard deviation function created to each numeric column in the dataframe
std = {x: std_dev(std_df[x]) for x in std_df.columns}

std

In [ ]:
#To show standard deviation of selected numeric column in dataframe
np.std(combined_df.Participation_act17)

### Investigate trends in the data
Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
   - Which states have the highest and lowest participation rates for the 2017, 2018, or 2019 SAT and ACT?
   - Which states have the highest and lowest mean total/composite scores for the 2017, 2018, or 2019 SAT and ACT?
   - Do any states with 100% participation on a given test have a rate change year-to-year?
   - Do any states show have >50% participation on *both* tests each year?
   - Which colleges have the highest median SAT and ACT scores for admittance?
   - Which California school districts have the highest and lowest mean test scores?

#### States with the highest participation rates for ACT in 2017, 2018 and 2019

In [ ]:
#To show State ACT participation rates in the 3 years.
#Will also keep sat participation rates in the last 3 columns for comparison purposes
act_par = combined_df.loc[:,['State','Participation_act17', 'Participation_act18', 'Participation_act19',
                            'Participation_sat17', 'Participation_sat18', 'Participation_sat19']]

In [ ]:
#To show top 10 States with highest participation rates for ACT sorted by participation rate in 2017
act_highest_par_17 = act_par.sort_values(by=['Participation_act17'], ascending=False).head(10)
act_highest_par_17

In [ ]:
#To show top 10 States with highest participation rates for ACT sorted by participation rate in 2018
act_highest_par_18 = act_par.sort_values(by=['Participation_act18'], ascending=False).head(10)
act_highest_par_18

In [ ]:
#To show top 10 States with highest participation rates for ACT sorted by participation rate in 2019
act_highest_par_19 = act_par.sort_values(by=['Participation_act19'], ascending=False).head(10)
act_highest_par_19

However, based on above result for States with top 10 participation rate for ACT in all 3 years, there seems to be other states with 100% participation rate. These states should also be listed here.

In [ ]:
#List all States with 100% partipation rate for ACT in 2017, 2018 or 2019
act_100_par = act_par[(act_par.Participation_act17 == 1) | (act_par.Participation_act18 == 1) | (act_par.Participation_act19 == 1)]
act_100_par

In [ ]:
#Number of States with 100% participation rate for ACT in at least one of the 3 years
print('There are', len(act_100_par), 'States with 100% participation rate for ACT in at least 1 of the 3 years')

#### Year-to-year rate changes for States with 100% participation rate for ACT

In [ ]:
act_100_par.sort_values(by=['Participation_act19'], ascending=False)

In [ ]:
act_100par_yoy = act_100_par
act_100par_yoy['Yoy_act17to18'] = act_100par_yoy['Participation_act18'] - act_100par_yoy['Participation_act17']
act_100par_yoy['Yoy_act18to19'] = act_100par_yoy['Participation_act19'] - act_100par_yoy['Participation_act18']
act_100par_yoy

Above result shows the YOY (Year on year) participation rate changes for ACT in States with 100% participation rate in one of the years from 2017 to 2019.

YOY Change in 2017 to 2018 in participation rates:
- <b>Colorado: </b> `-70%`
- <b>Minnesota: </b> `-1%`
- <b>Ohio: </b>`+25%%`

YOY Change in 2018 to 2019 in participation rates:
- <b>Colorado: </b> `-3%`
- <b>Minnesota: </b> `-4%`
- <b>Missouri: </b> `-18%`
- <b>South Carolina: </b>`-22%`

#### States with the lowest participation rates for ACT in 2017, 2018 and 2019

In [ ]:
#To show top 10 States with lowest participation rates for ACT sorted by participation rate in 2017
act_lowest_par_17 = act_par.sort_values(by=['Participation_act17'], ascending = True).head(10)
act_lowest_par_17

In [ ]:
#To show top 10 States with lowest participation rates for ACT sorted by participation rate in 2018
act_lowest_par_18 = act_par.sort_values(by=['Participation_act18'], ascending = True).head(10)
act_lowest_par_18

In [ ]:
#To show top 10 States with lowest participation rates for ACT sorted by participation rate in 2019
act_lowest_par_19 = act_par.sort_values(by=['Participation_act19'], ascending = True).head(10)
act_lowest_par_19

#### States with the highest participation rates for SAT in 2017, 2018 and 2019

In [ ]:
#To show State SAT participation rates in the 3 years. 
#Will show ACT participation rate in the back columns for comparison purposes
sat_par = combined_df.loc[:,['State','Participation_sat17', 'Participation_sat18', 'Participation_sat19', 
                             'Participation_act17', 'Participation_act18', 'Participation_act19']]

In [ ]:
#To show top 10 States with highest participation rates for SAT sorted by participation rate in 2017
sat_highest_par_17 = sat_par.sort_values(by=['Participation_sat17'], ascending=False).head(10)
sat_highest_par_17

In [ ]:
#To show top 10 States with highest participation rates for SAT sorted by participation rate in 2018
sat_highest_par_18 = sat_par.sort_values(by=['Participation_sat18'], ascending=False).head(10)
sat_highest_par_18

In [ ]:
#To show top 10 States with highest participation rates for SAT sorted by participation rate in 2019
sat_highest_par_19 = sat_par.sort_values(by=['Participation_sat19'], ascending=False).head(10)
sat_highest_par_19

In [ ]:
#List all States with 100% partipation rate for SAT in 2017, 2018 or 2019
sat_100_par = sat_par[(sat_par.Participation_sat17 == 1) | (sat_par.Participation_sat18 == 1) | (sat_par.Participation_sat19 == 1)]
sat_100_par

In [ ]:
#Number of States with 100% participation rate for SAT in at least one of the 3 years
print('There are', len(sat_100_par), 'States with 100% participation rate for SAT in at least 1 of the 3 years')

#### Year-to-year rate changes for States with 100% participation rate for SAT

In [ ]:
sat_100_par.sort_values(by=['Participation_sat17'], ascending=False)

In [ ]:
sat_100par_yoy = sat_100_par
sat_100par_yoy['Yoy_sat17to18'] = sat_100par_yoy['Participation_sat18'] - sat_100par_yoy['Participation_sat17']
sat_100par_yoy['Yoy_sat18to19'] = sat_100par_yoy['Participation_sat19'] - sat_100par_yoy['Participation_sat18']
sat_100par_yoy

Above result shows the YOY (Year on year) participation rate changes for SAT in States with 100% participation rate in one of the years from 2017 to 2019.

YOY Change in 2017 to 2018 in participation rates:
- <b>District of Columbia: </b> `-8%`
- <b>Idaho: </b>`+7%`
- <b>Florida: </b> `-27%`
- <b>Rhode Island: </b> `+26%`
- <b>Colorado: </b> `-89%`
- <b>Illinois: </b> `-90%`

YOY Change in 2018 to 2019 in participation rates:
- <b>District of Columbia: </b> `+2%`
- <b>Florida: </b> `+44%`
- <b>Rhode Island: </b>`+3%`
- <b>Illinois: </b>`+1%`

#### States with the lowest participation rates for SAT in 2017, 2018 and 2019

In [ ]:
#To show top 10 States with lowest participation rates for SAT sorted by participation rate in 2017
sat_lowest_par_17 = sat_par.sort_values(by=['Participation_sat17'], ascending = True).head(10)
sat_lowest_par_17

In [ ]:
#To show top 10 States with lowest participation rates for SAT sorted by participation rate in 2018
sat_lowest_par_18 = sat_par.sort_values(by=['Participation_sat18'], ascending = True).head(10)
sat_lowest_par_18

In [ ]:
#To show top 10 States with lowest participation rates for SAT sorted by participation rate in 2019
sat_lowest_par_19 = sat_par.sort_values(by=['Participation_sat19'], ascending = True).head(10)
sat_lowest_par_19

#### States with >50% participation rate for both ACT and SAT test in 2017

In [ ]:
#Show States that have more than 50% participation rate in both tests in 2017
par50 = combined_df[['State','Participation_sat17','Participation_act17']]

par50[(par50['Participation_sat17'] > 0.5) & (par50['Participation_act17'] > 0.5)]

In [ ]:
#Show States that have more than 50% participation rate in both tests in 2018
par50 = combined_df[['State','Participation_sat18','Participation_act18']]

par50[(par50['Participation_sat18'] > 0.5) & (par50['Participation_act18'] > 0.5)]

In [ ]:
#Show States that have more than 50% participation rate in both tests in 2019
par50 = combined_df[['State','Participation_sat19','Participation_act19']]

par50[(par50['Participation_sat19'] > 0.5) & (par50['Participation_act19'] > 0.5)]

In [ ]:
tennessee = combined_df[['State','Participation_sat17','Participation_act17',
                         'Participation_sat18','Participation_act18',
                         'Participation_sat19','Participation_act19']]
tennessee[(tennessee['State'] == 'Tennessee')]

In [ ]:
state = combined_df[['State','Participation_sat17','Participation_act17',
                     'Participation_sat18','Participation_act18',
                     'Participation_sat19','Participation_act19']]

state[(state['State'] == 'Tennessee')]

In [ ]:
state = combined_df[['State','Participation_sat17','Participation_act17',
                     'Participation_sat18','Participation_act18',
                     'Participation_sat19','Participation_act19']]

state[(state['State'] == 'Idaho') | (state['State'] == 'Ohio') | (state['State'] == 'Tennessee')]

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Data Visualization

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### Visualizing Correlations with seaborn's heatmap

In [ ]:
#Data for correlation checking
data = ['Participation_sat17', 'Participation_sat18', 'Participation_sat19',
        'Total_sat17', 'Total_sat18', 'Total_sat19', 
        'Participation_act17', 'Participation_act18', 'Participation_act19',
        'Composite_act17', 'Composite_act18', 'Composite_act19']

In [ ]:
#Set figure size
plt.figure(figsize = (15, 10))

corr = combined_df[data].corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True

plt.title('Correlation of SAT and ACT Participation Rate and Test Scores', fontsize = 15)

heatmap = sns.heatmap(corr,
            mask = mask,
            cmap = 'coolwarm',
            annot = True)

#Grouping together the participation rates and scores of each test, will give a better view of the correlations  
heatmap.set_xticklabels(['SAT 2017 Participation', 'SAT 2018 Participation', 'SAT 2019 Participation',
                         'SAT 2017 Score', 'SAT 2018 Score', 'SAT 2019 Score',
                         'ACT 2017 Participation', 'ACT 2018 Participation', 'ACT 2019 Participation',
                         'ACT 2017 Score', 'ACT 2018 Score', 'ACT 2019 Score'], fontsize = 12, rotation = 50)

heatmap.set_yticklabels(['SAT 2017 Participation', 'SAT 2018 Participation', 'SAT 2019 Participation',
                         'SAT 2017 Score', 'SAT 2018 Score', 'SAT 2019 Score',
                         'ACT 2017 Participation', 'ACT 2018 Participation', 'ACT 2019 Participation',
                         'ACT 2017 Score', 'ACT 2018 Score', 'ACT 2019 Score'], fontsize = 12)

plt.savefig('../charts/Heatmap.jpg')

##### Interpretations
1. There is a positive correlation between the different years in participation rate / scores for each test.
2. There is a positive correlation between SAT participation rate and ACT scores, and vice versa. However, this positive correlation is not strong as they are not really related. 
3. Interestingly, for each given test, there is a negative correlation between the participation rate and the test scores, meaning that the higher the participation rates, the lower the scores.
4. There is a inverse correlation between SAT and ACT participation rate, meaning to say that as the participation rate of one test goes up, the participation rate of the other will decrease.

#### Visualize distributions using histograms

In [ ]:
#Subplot histogram function
def hist_subplot(df, p_list, title_list):
    nrows = int(np.ceil(len(p_list)/2)) 
    fig, ax = plt.subplots(nrows=nrows, ncols=2, figsize=(15,15)) #specify figsize
    ax = ax.ravel() # Ravel turns a matrix into a vectorto make it easier to iterate
    plt.subplots_adjust(hspace = 0.5) #sets height space between charts
    for i, column in enumerate(p_list): # Gives an index value to get into all our lists
        ax[i].hist(df[column], bins = 10, edgecolor = 'k') # plot histogram subplots with bins = 10
        ax[i].vlines(x = np.median(combined_df[p_list[i]]), ymin = 0, ymax = 20, 
                     linestyle = 'dashed', color = 'salmon', linewidth = 3, label = 'Median')
        ax[i].legend(loc = 'upper right', fontsize = 12) # Set legend fpr each subplot
        ax[i].axis([0, 1, 0, 23]) # Set x-axis and y-axis values
        ax[i].set_title(title_list[i]) # Set titles for each subplot
        ax[i].set_xlabel('Participation Rate') # Set xlabels for each subplot
        ax[i].set_ylabel('No. of States') # Set xlabels for each subplot

In [ ]:
combined_df['Participation_sat17'].median()

In [ ]:
#Partipation rate of SAT and ACT from 2017 to 2019
p_list = ['Participation_sat17', 
          'Participation_act17', 
          'Participation_sat18', 
          'Participation_act18', 
          'Participation_sat19', 
          'Participation_act19']

title_list = ['SAT Participation Rate (2017)', 
              'ACT Participation Rate (2017)', 
              'SAT Participation Rate (2018)',
              'ACT Participation Rate (2018)', 
              'SAT Participation Rate (2019)', 
              'ACT Participation Rate (2019)']


hist_subplot(combined_df, 
             p_list,
             title_list)

plt.savefig('../charts/Histogram.jpg')

##### Interpretations
1. Distribution of participation rate for each given test is similar across the 3 years. 
2. SAT has a higher number of states with very low participation rate, while ACT has a higher number of states with 100% participation rate. The histograms show that the higher number of 100% participation rates in ACT, the higher number of low participation rates in SAT.
4. SAT has an increase in the number of states with 100% participation rate in 2019, while ACT has seen a decrease in the number of states with 100% participation rate.
5. The median for SAT participation rate has increased over the years, as indicated by the shift in the median line towards the right. The opposite is true for ACT. This shows that participation rate for SAT has increased over the years, while participation rate for ACT has decreased.

#### Plot and interpret boxplots

In [ ]:
# Boxplot of participation rates
p_list = ['Participation_sat17', 
          'Participation_sat18', 
          'Participation_sat19', 
          'Participation_act17', 
          'Participation_act18',
          'Participation_act19']

plt.figure(figsize = [15, 12]) 
boxplot = sns.boxplot(data = combined_df[p_list], palette = 'YlGnBu', orient = 'h', width = 0.6) # plotting the boxplot of Participation Rate
plt.title('SAT and ACT Participation Rate (2017 to 2019)', fontsize = 16)

boxplot.set_yticklabels(['SAT 2017', 'SAT 2018', 'SAT 2019', 'ACT 2017', 'ACT 2018', 'ACT 2019'], fontsize = 12); 
plt.xticks(fontsize = 12)
plt.xlabel('Participation Rate', fontsize = 14)
plt.ylabel('Test (Year)', fontsize = 14)

plt.savefig('../charts/Boxplot.jpg')

##### Interpretations

1. The boxplot as above confirms the interpretation from the histogram charts that SAT's participation rate has been going up since 2017, with an increase in the median participation rate.
2. The opposite is true, with ACT's median participation rate going down over the years. However, despite lowered median participation rate, ACT is more popular among states.

#### Plot and interpret scatter plots

In [ ]:
#Subplot scatter function
def scatter_subplot(df, col_list, columns, t_list, xlabel_list, ylabel_list):
    nrows = int(np.ceil(len(col_list))) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows = nrows, ncols = 1, figsize = (15, 20)) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    
    for i, ax in enumerate(ax): # Gives us an index value to get into all our lists
        ax.scatter(df[col_list[i]], df[columns[i]]) # need 2 sets of columns for scatter plots
        ax.plot([0,1], [1,0], color='maroon', linestyle = 'dotted', label = 'Correlation')
        ax.set_title(t_list[i], fontsize = 15) #Set title for each subplot
        ax.set_xlabel(xlabel_list[i], fontsize = 12) #Set xlabel for each subplot
        ax.set_ylabel(ylabel_list[i], fontsize = 12) #Set ylabel for each subplot

In [ ]:
t_list = ['SAT vs ACT Participation Rate (2017)',
          'SAT vs ACT Participation Rate (2018)',
          'SAT vs ACT Participation Rate (2019)']

xaxis =  ['Participation_sat17',
          'Participation_sat18',
          'Participation_sat19']

yaxis = ['Participation_act17',
         'Participation_act18',
         'Participation_act19']

xlabel = ['SAT Participation Rate (2017)', 
          'SAT Participation Rate (2018)',
          'SAT Participation Rate (2019)']

ylabel = ['ACT Participation Rate (2017)', 
          'ACT Participation Rate (2018)',
          'ACT Participation Rate (2019)']

scatter_subplot(combined_df, xaxis, yaxis, t_list, xlabel, ylabel)

plt.savefig('../charts/Scatter_plot.jpg')

###### Interpretations
1.  As with what is shown on the heatmap, the scatter plot shows that the participation rate for SAT and ACT is negatively correlated. 
2. However, there seems to be some outliers, which does not show any relationships between each other. This can be explained as: Although the participation rate for ACT in States like North and South Carolina is 100%, the participa1tion rate in these 2 states is more than 50%. (as shown in the result below)

In [ ]:
#List all States with 100% partipation rate for ACT in 2017, 2018 or 2019
act_100_par = act_par[(act_par.Participation_act17 == 1) | 
                      (act_par.Participation_act18 == 1) | 
                      (act_par.Participation_act19 == 1)]
act_100_par

##### Visualize using Bar charts

In [ ]:
participations = combined_df.pivot_table(index=['State'],
                                  values=['Participation_sat17','Participation_act17'])
participations.sort_values('Participation_sat17', ascending = True, inplace = True)
participations.plot(kind='barh', figsize=(14,12))
plt.title('SAT vs ACT Participation Rate (2017)', fontsize = 16)
plt.xlabel('Participation Rate', fontsize = 14)
plt.ylabel('State', fontsize = 14)
objects = ('ACT', 'SAT')
y_pos = np.arange(len(objects))
# add the legend
plt.legend(labels=objects, loc = 'lower right', framealpha = 0.5)

In [ ]:
participations = combined_df.pivot_table(index=['State'],
                                  values=['Participation_sat18','Participation_act18'])
participations.sort_values('Participation_sat18', ascending = True, inplace = True)
participations.plot(kind='barh', figsize=(14,12))
plt.title('SAT vs ACT Participation Rate (2018)', fontsize = 16)
plt.xlabel('Participation Rate', fontsize = 14)
plt.ylabel('State', fontsize = 14)
objects = ('ACT', 'SAT')
y_pos = np.arange(len(objects))
# add the legend
plt.legend(labels=objects, loc = 'lower right', framealpha = 0.5)

In [ ]:
participations = combined_df.pivot_table(index=['State'],
                                  values=['Participation_sat19','Participation_act19'])
participations.sort_values('Participation_sat19', ascending = True, inplace = True)
participations.plot(kind='barh', figsize=(14,12))
plt.title('SAT vs ACT Participation Rate (2019)', fontsize = 16)
plt.xlabel('Participation Rate', fontsize = 14)
plt.ylabel('State', fontsize = 14)
objects = ('ACT', 'SAT')
y_pos = np.arange(len(objects))
# add the legend
plt.legend(labels=objects, loc = 'lower right', framealpha = 0.5)

In [ ]:
#Change in Participation Rate from 2017 to 2019

change_in_par = combined_df.loc[:,['State', 'Participation_sat17', 'Participation_sat18', 'Participation_sat19',
                                   'Participation_act17', 'Participation_act18', 'Participation_act19']]
                        

change_in_par['Par_change_sat17to19'] = change_in_par['Participation_sat19'] - change_in_par['Participation_sat17']
                                
change_in_par['Par_change_act17to19'] = change_in_par['Participation_act19'] - change_in_par['Participation_act17']

In [ ]:
change_in_par.to_csv('../data/change_in_par_rate.csv', index = False)

In [ ]:
change_in_par

In [ ]:
#To view just the participation rate changes to see which states has the biggest increase / decrease in participation rate in each test

change_in_par_cols = change_in_par.loc[:,['State', 'Par_change_sat17to19', 'Par_change_act17to19']]

change_in_par_cols

In [ ]:
change_in_par.sort_values('State', ascending = False, inplace = True)

change_in_par.plot(x='State', 
               y = ['Par_change_sat17to19',
                    'Participation_sat17',
                    'Par_change_act17to19',
                    'Participation_act17'], color=['green','blue','red', 'salmon'], kind='barh', figsize=(10,18))

plt.ylabel('State', fontsize = 14)
plt.xlabel('Participation Rate', fontsize = 14)
plt.title('Change in SAT & ACT Participation Rate from 2017 to 2019', fontsize = 16)
objects = ('Change in SAT Participation Rate', 'SAT Participation Rate',
           'Change in ACT Participation Rate', 'ACT Participation Rate')
y_pos = np.arange(len(objects))
# add the legend
plt.legend(labels = objects, loc = 'lower left', framealpha = 0.5)

plt.savefig('../charts/Barchart.jpg') #savefig must be done before plt.show()
plt.show()

##### Interpretations

Above bar chart shows that SAT participation rate has gone up as an overall since 2017, with very few States that have small decreases in their SAT participation rates. The opposite is true for ACT participation rate. The increase in SAT participation rate is the most notable in the States such as:
1. Colorado, `+89%`
2. Illinois, `+91%`
3. West Virginia, `+85%`
4. South Carolina, `+18%`
5. Florida, `+17%`

States with the biggest decrease in SAT participation rate from 2017 to 2019 are District of Columbia and Nevada. However, this decrease is small, at only `-6%` for each State.

## Conclusions and Recommendations

##### Key Takeaways

From above findings, there are a few States with notable differences increases and decreases in participation rates. Hence, more studies should be done on these States:

1. Ohio
3. illinois
4. Oklahoma
5. West Virginia






Ohio state law requires districts and community schools to administer the state-funded ACT or SAT to all grade 11 students. This has resulted in an increase for participation for both ACT and SAT tests.

Rhode Island has made SAT testing compulsory for all students. This was implemented between 2017 and 2018 and its effects can be seen in the SAT participation, from 71% in 2017 to 97% in 2018.

Illinois, like Rhode Island, has also made SAT testing compulsory for all public high school juniors. This has caused an exponential incrase in SAT participation from 9% to 99%. The ACT partipation rate was halved during this period. It should be noted that this move by the Illinois State Board of Education opposed this decision and is awaiting the final outcome.

In West Virginia, the participation for SAT has doubled from 14% to 28% while ACT saw a decrease by 5%. This can be attributed to the education department's implementation of the SAT School Day where high school students can take the SAT tests on an allocated school day rather than taking in on a weekend and usually at a test center which they do not school at.


Another noteworthy State is Florida where participation is high for both tests, at 83% for SAT and 73 % for ACT in 2017. The participation rate then fell to 56% for SAT and 66% for ACT in 2018, only for SAT's participation to increase to 100% versus ACT's 54% in 2019.


Between 2017 and 2018, 10 states (Colorado, Connecticut, Delaware, Idaho, Illinois, Maine, Michigan, New Hampshire, Rhode Island, and West Virginia) and the District of Columbia covered the cost of the SAT for all their public school students. Three years ago, only three states and the District of Columbia did so. This, and the implementation of the SAT School Day contributed to the overall 25% increase in SAT test-takers.

As such, the SAT School Day and the cost subsidy of the SAT can be seen to greatly improve SAT participation rates.

Another noteworthy State is Florida where participation is high for both tests, at 83% for SAT and 73 % for ACT in 2017. The participation rate then fell to 56% for SAT and 66% for ACT in 2018, only for SAT's participation to increase to 100% versus ACT's 54% in 2019.

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!