<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 3: Web APIs & NLP

# Problem Statement

Working for a sports wear company that wants to classify reddit posts

---

# Table of Contents:
- [Background](#Background)
- [Datasets Used for Analysis](#Datasets-Used-for-Analysis)
- [Import Libraries](#Import-Libraries)
- [Functions](#Functions)
- [Data Collection](#Data-Collection)
- [Combining Subreddit DataFrames](#Combining-Subreddit-DataFrames)

---

# Import Libraries

In [1]:
import requests
import pandas as pd
import numpy as np
import timeit
from time import process_time

---

# Functions

In [2]:
def collect_data(subreddit, rows):
    tic = timeit.default_timer()
    n = 0
    last = ''
    posts = []
    rows = int(rows)
    url = 'https://api.pushshift.io/reddit/search/submission/?subreddit=' + subreddit
    while n < rows:
        res = requests.get('{}&before={}'.format(url, last))
        json = res.json()
        for i in json['data']:
            posts.append(i)
            n += 1
    last = int(i['created_utc'])
    print('Status code: ', res.status_code)
    toc=timeit.default_timer()
    elapsed_time = toc - tic
    print('Total elapsed time in seconds:', elapsed_time)
    print('Number of requests per second:', rows/elapsed_time)
    
    return posts

---

# Data Collection

Despite the pushshift API documentation stating that the maximum number of results that can be returned is at 500, only 100 was returned. To overccome that,

## Subreddit: Cycling

In [3]:
posts = collect_data('cycling', '2000')

Status code:  200
Total elapsed time in seconds: 56.061447
Number of requests per second: 35.67514052928387

In [4]:
cycling_df = pd.DataFrame(posts)

In [5]:
cycling_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   all_awardings                2000 non-null   object
 1   allow_live_comments          2000 non-null   bool
 2   author                       2000 non-null   object
 3   author_flair_css_class       0 non-null      object
 4   author_flair_richtext        2000 non-null   object
 5   author_flair_text            0 non-null      object
 6   author_flair_type            2000 non-null   object
 7   author_fullname              2000 non-null   object
 8   author_is_blocked            2000 non-null   bool
 9   author_patreon_flair         2000 non-null   bool
 10  author_premium               2000 non-null   bool
 11  awarders                     2000 non-null   object
 12  can_mod_post                 2000 non-null   bool
 13  contest_mode                 2000 non-null   bool
 14  created_utc                  2000 non-null   int64
 15  domain                       2000 non-null   object
 16  full_link                    2000 non-null   object
 17  gildings                     2000 non-null   object
 18  id                           2000 non-null   object
 19  is_created_from_ads_ui       2000 non-null   bool
 20  is_crosspostable             2000 non-null   bool
 21  is_meta                      2000 non-null   bool
 22  is_original_content          2000 non-null   bool
 23  is_reddit_media_domain       2000 non-null   bool
 24  is_robot_indexable           2000 non-null   bool
 25  is_self                      2000 non-null   bool
 26  is_video                     2000 non-null   bool
 27  link_flair_background_color  2000 non-null   object
 28  link_flair_richtext          2000 non-null   object
 29  link_flair_text_color        2000 non-null   object
 30  link_flair_type              2000 non-null   object
 31  locked                       2000 non-null   bool
 32  media_only                   2000 non-null   bool
 33  no_follow                    2000 non-null   bool
 34  num_comments                 2000 non-null   int64
 35  num_crossposts               2000 non-null   int64
 36  over_18                      2000 non-null   bool
 37  parent_whitelist_status      2000 non-null   object
 38  permalink                    2000 non-null   object
 39  pinned                       2000 non-null   bool
 40  post_hint                    320 non-null    object
 41  preview                      320 non-null    object
 42  pwls                         2000 non-null   int64
 43  removed_by_category          240 non-null    object
 44  retrieved_on                 2000 non-null   int64
 45  score                        2000 non-null   int64
 46  selftext                     2000 non-null   object
 47  send_replies                 2000 non-null   bool
 48  spoiler                      2000 non-null   bool
 49  stickied                     2000 non-null   bool
 50  subreddit                    2000 non-null   object
 51  subreddit_id                 2000 non-null   object
 52  subreddit_subscribers        2000 non-null   int64
 53  subreddit_type               2000 non-null   object
 54  thumbnail                    2000 non-null   object
 55  title                        2000 non-null   object
 56  total_awards_received        2000 non-null   int64
 57  treatment_tags               2000 non-null   object
 58  upvote_ratio                 2000 non-null   float64
 59  url                          2000 non-null   object
 60  whitelist_status             2000 non-null   object
 61  wls                          2000 non-null   int64
 62  crosspost_parent             80 non-null     object
 63  crosspost_parent_list        80 non-null     object
 64  url_overridden_by_dest       80 non-null     object
 65  author_cakeday               80 non-null     object
dtypes: bool(22), float64(1), int64(9), object(34)
memory usage: 730.6+ KB

In [6]:
cycling_df = cycling_df[['title','subreddit','selftext']]

In [7]:
cycling_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      2000 non-null   object
 1   subreddit  2000 non-null   object
 2   selftext   2000 non-null   object
dtypes: object(3)
memory usage: 47.0+ KB

## Subreddit: Diving

In [8]:
posts = collect_data('diving', '2000')

Status code:  200
Total elapsed time in seconds: 63.623932599999996
Number of requests per second: 31.4347120379038

In [9]:
diving_df = pd.DataFrame(posts)

In [10]:
diving_df = diving_df[['title','subreddit','selftext']]

In [11]:
diving_df

                                                  title subreddit   selftext
0     A freediver in Florida said he saw his friends...    diving        NaN
1                                Lobster Catch and Cook    diving
2     4 teenage divers killed by sea snake (hydrophi...    diving        NaN
3                         Until the tide takes us… [OC]    diving
4                                                 True!    diving
...                                                 ...       ...        ...
1995                          Deco with a coelenterate.    diving  [removed]
1996                            Dos Ojos Cenote, Mexico    diving
1997                              Manati Cenote, Mexico    diving
1998                 Some footage from a trip to Mexico    diving
1999                             First Dives In Cozumel    diving

[2000 rows x 3 columns]

---

# Combining Subreddit DataFrames

In [12]:
df = pd.concat([cycling_df, diving_df])

In [13]:
df

,title,subreddit,selftext
0,Why Are Bike Trailers So Expensive? A Cost Ana...,cycling,[removed]
1,chain lube,cycling,I have run out.\nIs Finish Line Teflon Plus Dr...
2,Advice needed!,cycling,I'm a 18M with a body fat percentage of 24.4%....
3,Neoprene socks,cycling,I see a lot on this sub and among the cycling ...
4,Is this bike really Trek?,cycling,Hello all!\n\nI am looking to buy a used road ...
...,...,...,...
1995,Deco with a coelenterate.,diving,[removed]
1996,"Dos Ojos Cenote, Mexico",diving,
1997,"Manati Cenote, Mexico",diving,
1998,Some footage from a trip to Mexico,diving,
1999,First Dives In Cozumel,diving,

In [18]:
df.head(10)

,title,subreddit,selftext
0,Why Are Bike Trailers So Expensive? A Cost Ana...,cycling,[removed]
1,chain lube,cycling,I have run out.\nIs Finish Line Teflon Plus Dr...
2,Advice needed!,cycling,I'm a 18M with a body fat percentage of 24.4%....
3,Neoprene socks,cycling,I see a lot on this sub and among the cycling ...
4,Is this bike really Trek?,cycling,Hello all!\n\nI am looking to buy a used road ...
5,Women's cycling pull-over?,cycling,Does anyone know of a nice light pull-over wit...
6,Looking for a good exercise bike for a short g...,cycling,I want to get into cycling to add to my fitnes...
7,Top 5 Best Budget Bike Trailers for Kids (Plus...,cycling,[removed]
8,Best place to watch Paris Roubaix,cycling,Anyone offer some guidance on where to watch i...
9,Packaging options for shipping though Bike Fli...,cycling,I’m going from DC to Denver and staying for a ...

In [20]:
df.tail(10)

,title,subreddit,selftext
1990,Dive tours in Miami,diving,[removed]
1991,Try Diving,diving,
1992,Who put that banana there,diving,
1993,"Diving around Dunedin, NZ",diving,May be a long shot but I just recently moved t...
1994,Finally Meeting a Tiger Shark,diving,
1995,Deco with a coelenterate.,diving,[removed]
1996,"Dos Ojos Cenote, Mexico",diving,
1997,"Manati Cenote, Mexico",diving,
1998,Some footage from a trip to Mexico,diving,
1999,First Dives In Cozumel,diving,

In [22]:
df.to_csv('../data/subreddits.csv')